@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url(global-style.css);
@import url(navbar.css);

/* Header--------------------- */
.header-content{
  grid-area:hd;
  background-image: url(../Images/header-background.jpg);
  background-size: cover;
	background-position: top right;
}

/* Search bar----------------- */
.searchbar{
  float: right;
  display: block;
  color: black;
  text-align: center;
  /* text-justify: center; */
  padding: 6px 5px;
  text-decoration: none;
  font-size: 20px;
}

/* Social-------------------- */
.social{
  grid-area: social;  
  display: block;
  float: right;
  background-color: #F2E6FA;
  padding: 0%;
	font-size:  50px;
	line-height: 0.1;
}

.social a{
  grid-area: social;  
  display: block;
  float: right;
  padding: 1%;
	font-size:  100px;
	line-height: 0;
}

.social img:hover {
 
  padding: 1%;
	font-size:  100px;
	line-height: 0.1;
}

/* Post--------------------- */

.tag-blue {
  padding: .70em;
  border-radius: 1em;
  font-size: .80rem;
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.post{
  grid-area: post;
  /* text-align: center; */
  background-color: white;
}

.center{
  text-align: center;
}

.date{
  color: rgba(70, 68, 68, 0.493);
  text-align: right;
  background-color: #DEDEDE;
  padding: 0.2%;
  font-size: 0.50em;
}


/* Quote----------------- */
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

/* Author Information------- */
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 1070px;
  margin-block: 2rem;
  gap: 2rem;
}

.container a{
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.post__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.author {
  display: flex;
  gap: .5rem;
}

.author__image {
  height: 15em;
}

.user__info > small {
  color: #666;
}


/* Footer------------------ */

footer{
    grid-area: footer;
    padding: 1.5%;
    background-image: url(../Images/footer-background.jpg);
    background-size: cover;
      background-position: top right;
    color: #DEDEDE;
    text-align: right;
    font-size: 15px;
  }