/* Nav bar------------------- */
.navbar{
    grid-area: navbar;
    display: flex;
    background-color: #938A99;
    font-size: 29px;
    padding: 9px;
    width: 384px;
    flex-wrap: wrap;
}

.navbar a{
  text-decoration: none;
  color: #FEFAE0;
  background-color: #938A99;
  font-size: 29px;
  padding: 9px;
}

.navbar a:active{
  color: #673e82;
  background-color: #F2E6FA;
  padding: 10px;
}